<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Flower-Bed</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Encode+Sans+Condensed&family=Unna&display=swap" rel="stylesheet">

  </head>
  <body>
    <h1 class='title'>The Flower Bed</h1>
    <div class='container'>
      <div class ='header'>


    <nav>
        <%- include ('./partials/nav') %>
        <button type="button" id='5'><a href='/TheFlowerBed/MyProfile/<%=user._id%>'>MyProfile</a></button>
  </nav>
  <div id='searchWrapper'>
    <input type ='text' name='searchBar' id='searchBar' placeholder='search for another user'/>
  </div>
</div>
    <div class = 'posts'>
      <h1 class = 'timeline-title'>The Garden</h1>
      <% for (let i =0; i<data.length;i++) { %>

<div class='post-title'>
<a href= '/TheFlowerBed/<%=data[i]._id%>'><%=data[i].title%></a>
</div>
<div class = 'post-meat-div'>
        <p class = 'post-meat'><%=data[i].blog%></p>


        <div class ='leaf-buttons'>
        <form action="/TheFlowerBed/<%=data[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <div class = 'edit-button'>
            <button type="button" id='6'>
        <a href="/TheFlowerBed/<%=data[i]._id%>/edit">Edit</a>
      </button>
      </div>
      </div>
    </div>
      <% } %>
  </div>
</div>

    <footer>
      <h3>Check out our other socials!<h3>
      <p>Socials will go here</p>

    </footer>




    </div>
  </body>
</html>
