<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Flower-Bed</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class='container'>
    <h1>Welcome to The FlowerBed!</h1>
    <nav>
        <%- include ('./partials/nav') %>
        <a href='/TheFlowerBed/MyProfile/<%=user._id%>'>MyProfile</a>
  </nav>
  <div id='searchWrapper'>
    <input type ='text' name='searchBar' id='searchBar' placeholder='search for another user'/>
  </div>
    <div class = 'posts'>
      <h1>Bud Buddies</h1>
      <% for (let i =0; i<data.length;i++) { %>


<a href= '/TheFlowerBed/<%=data[i]._id%>'><%=data[i].title%></a>
        <p><%=data[i].blog%></p>


        <div class ='leaf-buttons'>
        <form action="/TheFlowerBed/<%=data[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" />
        </form>
        <div class = 'edit-button'>
        <a href="/TheFlowerBed/<%=data[i]._id%>/edit">Edit</a>
      </div>
      </div>

      <% } %>
    </div>

    <footer>
      <h3>Check out our other socials!<h3>
      <p>Socials will go here</p>

    </footer>




    </div>
  </body>
</html>
