<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Encode+Sans+Condensed&family=Unna&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class = 'container'>
      <div class ='header'>


    <nav>
        <%- include ('./partials/nav') %>
        <button type="button" id='5'><a href='/TheFlowerBed/MyProfile/<%=user._id%>'>MyProfile</a></button>
    </nav>
    <div id='searchWrapper'>
    <input type ='text' name='searchBar' id='searchBar' placeholder='search for another user'/>
    </div>
    </div>
    <h1> Your Leaves </h1>
    <ul>
    <% for (let i = 0; i<yourLeaves.length;i++) {%>
      <li>
        <%=yourLeaves[i].title%><br/>
          <%=yourLeaves[i].blog%><br/>
          <%=yourLeaves[i].likes%>
      </li>
    <%}%>
  </div>
  </body>
</html>
